:root {
  --primary: #2d1159;
  --hover: #ba67db;
  --white-text: white;
  --scores: #c8bed1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  color:var(--hover) ;
}
.row-wrapper {
  display: flex;
  justify-content: center;
}
.border-box {
  width: 400px;
  height: 500px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px;
}
h2 {
  text-align: center;
}
button {
  padding: 2px 5px;
  color: var(--white-text);
  background-color: var(--primary);
  border-radius: 5px;
}
button#start-btn {
  padding: 10px;
  position: relative;
  width: 100px;
  left: 150px;
}
button:hover {
  background-color: var(--hover);
}
a.button{
  color:initial;
  text-decoration: none;
}
p{
  text-align: center;
}
ul {
  list-style-type: none;
}
ul li {
  padding: 2px;
  background-color: var(--primary);
  color: var(--white-text);
  margin:2px;
  padding:5px;
  border-radius: 5px;
}
ul#highScoreUl li{
  background-color: var(--scores);
  color: var(--primary);
  margin-left: -40px;
  border-radius: 0px;
}
li:hover {
  background-color: var(--hover);
}
.question-result {
  border-top: 1px solid gray;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
}
button #submit {
  padding: 2px;
}